{% extends 'base.html.twig' %}

{% block title %}Test blog app
{% endblock %}

{% block body %}

	<section class="posts-wrapper pt-4">
		<h1 class="mb-6">Welcome to the Test blog application</h1>

		{% if posts %}
			<div class="posts">
				{% for post in posts %}
					<article class="posts__post mb-4">
						<h2 class="posts__post_title">
							<a href="{{ path('post', { id: post.id }) }}">{{ post }}</a>
						</h2>

						{% if post.description %}
							<div class="posts__post_description">
								{{ post.description }}
							</div>
						{% endif %}


					</article>
				{% endfor %}
			</div>
      {% if previous >= 0 or next < posts|length %}
        <nav aria-label="Page navigation example">
          <ul class="pagination">
            {% if previous >= 0 %}
              <li class="page-item">
                <a class="page-link" href="{{ path('homepage', { offset: previous }) }}">Previous</a>
              </li>
            {% endif %}
            {% if next < posts|length %}
              <li class="page-item">
                <a class="page-link" href="{{ path('homepage', { offset: next }) }}">Next</a>
              </li>
            {% endif %}
          </ul>
        </nav>
      {% endif %}
		{% endif %}
	</section>
{% endblock %}
