{% extends 'base.html.twig' %}

{% block title %}
	{{ post }}
{% endblock %}

{% block body %}
	<article class="post post-{{ post.id }} pt-4">
		<header>
			<h1 class="title">{{ post }}</h1>

			<div class="post__meta d-flex">
				<div class="post__time">Posted on
					<time datetime="{{ post.createdAt|format_datetime('full', 'full') }}">{{ post.createdAt|format_datetime('medium', 'short') }}</time>.
				</div>
				{% if comments|length > 0 %}
					<div class="post__comments ps-4">
						<a href="#comments">{{ comments|length }}
							comments</a>
					</div>
				{% endif %}

			</div>
		</header>


    {% if post.description %}
      <div class="post-description py-4">
        {{ post.description }}
      </div>
    {% endif %}

    {% if post.body %}
      <div class="post-body pb-4">
        {{ post.body }}
      </div>
    {% endif %}



    <section id="comments" class="comments pt-4">
        {% if comments|length > 0 %}
            <h4 class="mb-3">Comments ({{ comments|length }})</h4>
            {% for comment in comments %}
                <div class="mb-4">
                    <h4>{{ comment.author }}</h4>
                    <small>
                        {{ comment.createdAt|format_datetime('medium', 'short') }}
                    </small>

                    <p>{{ comment.text }}</p>
                </div>
            {% endfor %}

            {% if previous >= 0 or next < comments|length %}
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        {% if previous >= 0 %}
                            <li class="page-item">
                                <a class="page-link" href="{{ path('post', { id: post.id, offset: previous }) }}">Previous</a>
                            </li>
                        {% endif %}
                        {% if next < comments|length %}
                            <li class="page-item">
                                <a class="page-link" href="{{ path('post', { id: post.id, offset: next }) }}">Next</a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            {% endif %}
        {% else %}
            <div>Be first to comment.</div>
        {% endif %}
        <h4 class="mb-3">Add comment</h4>
        {{ form(comment_form) }}

        </section>


		</article>
	{% endblock %}
